#h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
    text-decoration: underline;
}

#btn {
    background-color: rgb(183, 234, 229);
    width: 100%;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

#btn:hover {
    background-color: rgb(57, 103, 103); 
}

#btn:active {
    background-color: rgb(110, 194, 188); 
    transform: scale(0.98);
}

.delbtn {
    background-color: khaki;
    color: black;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.delbtn:hover {
    background-color: rgb(32, 164, 127);
}

.delbtn:active {
    background-color: rgb(184, 177, 70);
    transform: scale(0.96);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

table.form-table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 16px;
    background-color: aquamarine;
}

table.form-table input,
table.form-table select {
    width: 95%;
    padding: 8px;
    box-sizing: border-box;
    border-color: black;
}

table.form-table th,
table.form-table td {
    padding: 10px;
    border: solid black;
    text-align: left;
}

#dataTable {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

#dataTable th,
#dataTable td {
    padding: 15px;
    text-align: center;
    border: solid black;
}

input {
    font-size: 16px;
    padding: 5px;
    color: black;
    background-color: rgb(185, 188, 189);
    border-radius: 10px;
}

body {
    background: linear-gradient(to left, teal, grey);
}

.courseSelect {
    background-color: rgb(95, 189, 196);
}

th {
    color: aliceblue;
    font-weight: bold;
}

#sd {
    text-align: center;
}
